<!-- sử dụng userForm để xử lí form -->
<!-- sử dụng name và ngaModel để lấy dưx liệu từ input -->
<!-- sử dụng ngSubmit -->
<!-- valid, disabled : nếu để trường trống thì submit sẽ bị chặn -->

<p>{{userForm.valid | json}}</p> 
<!-- show dữ liệu và chuyển qua dạng chuỗi. -->
<div class="w-50 mx-auto my-5" >
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" ngModel required #name="ngModel">
            <app-validate ></app-validate>
            <span *ngIf="name.dirty && name.errors?.['required']" class="text-danger">Không được để trống ! </span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required minlength="6" #min="ngModel">
            <span *ngIf="min.errors?.['minlength']" class="text-danger">Nhập trên 6 kí tự </span>

        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" >
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-success" disabled="!userForm.value">Submit</button>
    </form>
</div>