<h3 class="mb-3"> Tất cả sản phẩm</h3>
<div class=" flex d-flex col-12  justify-content-center w-100">
 <div class="item col-3 mx-2">
   <div class="item-img img-fluid">
     <img src="https://res.cloudinary.com/vulong/image/upload/v1649668191/uploadimg/brnjluwazwzxb24ihx0r.jpg" alt="" width="100%">
   </div>
   <div class="item-content">
     <h5>Products A</h5>
     <p> $.3000</p>
   </div>
 </div>
 <div class="item col-3 mx-2">
  <div class="item-img img-fluid">
    <img src="https://res.cloudinary.com/vulong/image/upload/v1649668190/uploadimg/h1nirnxo8gta8pmvoedn.jpg" alt="" width="100%">
  </div>
  <div class="item-content">
    <h5>Products A</h5>
    <p> $.3000</p>
  </div>
</div>
<div class="item col-3 mx-2">
  <div class="item-img img-fluid">
    <img src="https://res.cloudinary.com/vulong/image/upload/v1649668191/uploadimg/cfdccgd4lnonvriy6ck4.jpg" alt="" width="100%">
  </div>
  <div class="item-content">
    <h5>Products A</h5>
    <p> $.3000</p>
  </div>
</div>
<div class="item col-3 mx-2">
  <div class="item-img img-fluid">
    <img src="https://res.cloudinary.com/vulong/image/upload/v1649668191/uploadimg/brnjluwazwzxb24ihx0r.jpg" alt="" width="100%">
  </div>
  <div class="item-content">
    <h5>Products A</h5>
    <p> $.3000</p>
  </div>
</div>
  
</div>