<div class="my-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let User of users" >
            <th scope="row">{{User.id}}</th>
            <td>{{User.name}}</td>
            <td>{{User.password}}</td>
            <td>Mark</td>
            <td>Mark</td>
            <td><button class="btn btn-danger" (click) = onRemove(User.id)>Remove</button></td>
            <td><button class="btn btn-success" (click) = onEdit(User.id)>Edit</button></td>
          </tr>
          
        </tbody>
      </table>
</div>