<table class="table" border="1">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Defend</th>
      <th scope="col">Speed</th>
      <th scope="col">Price</th>
      <th scope="col" class=" text-center">Img</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Student of Student">
      <td>{{Student.id}}</td>
      <td>
        <app-table [Name]="Student.name"></app-table>
      </td>
      <!-- [tên] = " giá trị "; -->
      <td *ngIf="Student.status === 1 " class="color-blue">yes</td>
      <td *ngIf="Student.status === 0" class="color-red">No</td>
      <td><app-condition1 [Speed] = "Student.speed"></app-condition1></td> 
      <td class="color-blue">{{Student.price}}</td>
      <td class=" color-red text-center"> 
        <app-condition2 [Img] = "Student.img" [Price] = "Student.price"></app-condition2>
      </td>
      <td> <button class=" btn btn-success"> Edit</button></td>
      <td> <button class=" btn btn-danger"> Remove</button></td>
    </tr>
  </tbody>
</table>